body{
    background-color: black;
}

/*svg {
    display: block;
    stroke-dasharray: 300;
    width: 80%;
    stroke-dashoffset: 300px;
    margin: 0 auto;
}

svg path {
    fill: none;
    width: 50%;
    stroke: #000;
    stroke-dasharray: 300;
    stroke-width: 2px;
    stroke-dashoffset: 300px;
    pointer-events:all;
}*/
.animacion{
}


@keyframes trazar{
    80% {
        stroke-dashoffset: 0;
        stroke-width: 3px;
    }

    90% {
        stroke-width: 3px;
        opacity: 1;
    }

    100% {
        opacity: 1;
        stroke-dasharray: 300;
        stroke-dashoffset: 0;
        stroke-width: 3px;
    }
}
